body{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.navbar{
    background-color: rgb(198, 198, 214);
    text-align: center;
    padding: 15px;
}

.container{
    width: 1220px;
    display: flex;
    margin: 20px auto;
}

.sub-imgs-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 20px 0 300px;
}

.sub-imgs{
    height: 80px;
    width: 65px;
}

.border{
    border: 2px solid black;
}

.main-img{
    height: 600px;
    width: 500px;
    margin-right: 20px;
}

.product-info{
    margin-top: 100px;
}

.product-name{
    font-size: 30px;
}

.rupees-icon{
    height: 12px;
}

.quantity-container{
    padding: 5px;
    width: 55px;
    padding: 6px 9px;
    margin: 30px;
}

.quantity-icon{
    height: 12px;
    margin: 2px;
}

.buy-now-btn{
    padding: 10px 40px;
    margin: 50px 0;
    font-size: 15px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 2px;
}

